<p style="color: green"><%= notice %></p>

<%= render @civilisation %>

<div align="center"><br>
  <%= link_to "Edit", edit_civilisation_path(@civilisation), class: "btn btn-info" %> |
  <%= link_to "Back", civilisations_path, class: "btn btn-info" %><br>

  <br><%= button_to "Delete", @civilisation, method: :delete, class: "btn btn-danger" %>
</div>
