<div id="<%= dom_id art %>">
  <p>
    <strong>Title:</strong>
    <%= art.Title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= art.Subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= art.description %>
  </p>

  <p>
    <%= image_tag art.avatar %>
  </p>
  

</div>
